.container {
    margin: 0px 100px;
    width:80%;
}

table {
    border-spacing:0;
}

th {
    background:bisque;
}

th,td { 
    text-align:center;
    border:1px solid gray;
    width:50px;
    height:30px;
    padding:2px 5px 5px 5px; 
}

td {
    text-align:left;
    vertical-align:top;
}

th:first-child {
    border-radius: 5px 0 0 0;
}

th:last-child {
    border-radius: 0 5px 0 0;
}

th:only-child{
    border-radius: 5px 5px 0 0;
}

tr:last-child td:first-child{
    border-radius: 0 0 0 5px;
}

tr:last-child td:last-child{
    border-radius:  0 0 5px 0;
}

.today {
    /*background:lemonchiffon;*/
    border:2px solid green;
}

caption {
    font-size:125%;
    margin-bottom:5px;
}