body {
    margin:0px 20px;
}

th {
    background:bisque;
}

th,td { 
    text-align:center;
    border:1px solid gray;
    width:50px;
} 

table
{
    border-collapse:collapse;
}

.today {
    background:lavender;
}
